$main-font: 'Source Sans Pro', sans-serif;
$light-theme-font: 'Hind', sans-serif;
$third-font: 'Fresca', sans-serif;

$main-color: #000;
$secondary-color: #fff;
$button-color: #e3ac00; 
$decor-color: #ef4930;
$card-decor-color: #404458;
$text-decor-color:#dbd9d9;
$body-color: rgb(46, 46, 46);
$span-decorate: #fff;

$gradient: linear-gradient(-90deg, #922c52, #e3ac00);

$header-bg: url(../img/m-h-day.jpg);

@mixin link-style($fs) {
  color:#fff;
  font-family: $main-font;
  font-size: $fs;
}

@mixin button {
  border: none;
  background-color: $button-color;
  width: 126px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  font-family: $main-font;
}

@mixin after($width) {
  position: absolute;
  content: '';
  display: block;
  background-color: $decor-color;
  width: $width;
  height: 44px;
  z-index: -1;
}

$header-bg: url(../img/m-h-night.jpg);

$fw: (
  "heading": 700,
  "text": 400,
)