$main-font: 'Source Sans Pro', sans-serif;
$light-theme-font: 'Hind', sans-serif;
$third-font: 'Fresca', sans-serif;

$main-color: #fff;
$secondary-color: #000;
$button-color: #699900;
$decor-color: #0099cc;
$card-decor-color:#000;
$text-decor-color:#dbd9d9;
$body-color: #fff;
$span-decorate: #fff;
$link-decor: #a3a3a3;

$gradient: linear-gradient(-90deg, #2b59dc, #689805);

$header-bg: url(../img/m-h-day.jpg);

@mixin link-style($fs,$col) {
  color: $col;
  font-family: $main-font;
  font-size: $fs;
}

@mixin button {
  border: none;
  background-color: $button-color;
  width: 126px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: $main-color;
  font-family: $main-font;
}

@mixin after($width) {
  position: absolute;
  content: '';
  display: block;
  background-color: $decor-color;
  width: $width;
  height: 44px;
  z-index: -1;
};

$header-bg: url(../img/m-h-day.jpg);

$fw: (
  "heading": 700,
  "text": 400,
)