p {
  margin: 0;
  padding: 0;
}
.post {
  padding: 50px 20px 75px 20px;
  &__description {
    text-align: justify;
  }
  &__author {
    &-list {
      display: flex;
    }
  }
  &__wrapper {
    width: 80%;
    padding: 20px;
  }
}
.aside {
  padding: 20px;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__subMenu {
    overflow: hidden;
  }
}
.content__wrapper {
  display: flex;

  padding: 20px;
  justify-content: space-between;
}
.hidden {
  height: 0;
  overflow: hidden;
}
.post__author-item,
.aside__item {
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: underline;
  transition: all ease 2s;
}
.post__author-subMenu {
  transition: all ease 2s;
}
