body {
  width: 1240px;
  margin: 0 auto;
}
/* START: Task 1 Styles */
.task__wrapper {
  padding-bottom: 100px;
}

.table-cell {
  width: 150px;
  height: 150px;
  text-align: center;
  border: 1px solid black;
}
table {
  margin: 0 auto;
}
.first-click {
  background-color: yellow;
}
.blue-bg {
  background-color: blue;
}
.green-bg {
  background-color: green;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */

.screen {
  width: 400px;
  height: 70px;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tel-form {
  text-align: center;
}
.tel-btn,
.phone-input {
  padding: 5px 10px;
}

.tel-btn {
  width: 70px;
}

.phone-input {
  width: 300px;
}
.valid {
  background-color: green;
  color: white;
}
.invalid {
  background-color: rgb(250, 144, 144);
  color: white;
}
.agree {
  background-color: white;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
/* .cort_wrapper {
} */
.basketball-cort {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 330px;
  background-image: url(./assets/court.png);
  background-size: cover;
}
.ball__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -45%);
}
.basket {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 158px;
}
.left_basket {
  left: 36px;
}
.right_basket {
  right: 22px;
}
.score__wrapper {
  margin: 0 auto;
  width: 590px;
  display: flex;
  justify-content: space-between;
}
.display {
  width: 100px;
  height: 20px;
}
/* END: Task 3 Styles */
