* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

main {
  display: block;
}
img {
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary: #0078aa;
  --dark: #363636;
  --light: #fff;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
}

.nav {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--light);
  align-items: center;
  width: 100%;
  z-index: 999;
}

.header__list {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  width: 100%;
  padding: 0 10px;
}
.fixed-btn {
  position: fixed;
  background-color: var(--primary);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  z-index: 999;
}
.icon__svg {
  width: 20px;
}

.arrow__svg {
  width: 10px;
}

.svg_main {
  fill: var(--light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__item--link {
  position: relative;
}

.home__wrapper,
.about__list,
.services__item {
  display: flex;
  flex-direction: column;
}

.home__list {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

.home__item {
  color: var(--light);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  position: relative;
}

.home {
  background-image: url(../img/lady.jpg);
  background-size: cover;
}

.home__item:hover {
  background-color: var(--light);
  border: 1px solid var(--primary);
}
.home__item:hover .svg_main {
  fill: var(--primary);
}

.fixed-btn:hover .svg_main {
  fill: var(--primary);
}
.fixed-btn:hover {
  background-color: var(--light);
  border: 1px solid var(--primary);
}

.about {
  background-image: url(../img/tools.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.about__wrapper,
.services__list {
  display: flex;
}

.about__item--arrow {
  color: var(--primary);
}

.about__title {
  margin-bottom: 10px;
}
.about__title--wrapper {
  padding-bottom: 20px;
}

.about__item--title {
  margin-bottom: 10px;
}

.about__item:not(:last-child),
.services__item--title {
  margin-bottom: 20px;
}
.about__item--arrow {
  margin-right: 10px;
}
.header__item--link {
  color: var(--dark);
}

.header__item--link:hover {
  color: var(--primary);
}
.services {
  background-image: url(../img/services_bg.jpg);
  background-size: cover;
}

.services__title--wrapper,
.stages__list,
.pricing__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title--wrapper,
.about__list {
  text-align: center;
}

.services__item--description {
  text-align-last: left;
}
.services__item {
  margin: 0 auto;
  width: 300px;
  align-items: flex-start;
  background-color: var(--light);
  background-size: 50%;
  background-repeat: no-repeat;
  padding-top: 110px;
}
.ophthalmology {
  background-image: url(../img/icons/oftalmology.jpg);
}

.dentistry {
  background-image: url(../img/icons/dentistry.jpg);
}

.cardiology {
  background-image: url(../img/icons/cardiolofy.jpg);
}

.pediatrics {
  background-image: url(../img/icons/pediatrics.jpg);
}

.laboratory {
  background-image: url(../img/icons/laboratory.jpg);
}

.radiology {
  background-image: url(../img/icons/radiology.jpg);
}

@media (max-width: 767px) {
  .header__link {
    margin-bottom: 20px;
  }
  .header__wrapper {
    width: 100%;
    padding-bottom: 80px;
  }

  .header__item {
    font-size: 10px;
  }

  .fixed-btn {
    bottom: 40px;
    right: 20px;
  }

  .home__wrapper {
    align-items: center;
  }

  .home__title {
    text-align: center;
    width: 228px;
    margin-bottom: 20px;
  }

  .home__description {
    text-align: center;
    color: var(--dark);
    margin-bottom: 20px;
  }

  .about__wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }

  .about {
    padding-top: 210px;
  }
  .services__list {
    flex-direction: column;
  }
  .services__item {
    margin-bottom: 20px;
  }
}
